<!-- Starts about -->

  <div class="row">
	  <div class="eight columns offset-by-two">
	  	<div class="content centered">
	  		<h1>About the City Cam Repo</h1>
	  		<p>If you are a voyeur but not the perverted kind and like to watch publicly accessible webcams from around the world then this is the site for you!</p>
	  		<p>This website came about thanks to Twitter user <a href="https://www.twitter.com/thecis"></a>@thecis sending a tweet into the ether about his desire for a website that showed you webcams of streets and traffic from around the world. While there may be others, hopefully @thecis and others will enjoy this easy to use repository of publically acessible webcams.</p>
	  	</div><!-- End content -->
		</div> <!-- End twelve columns centered -->
  </div> <!-- End row -->
  
<!-- Ends about -->
