<!-- Starts about -->

  <div class="row">
	  <div class="eight columns offset-by-two">
	  	<div class="content centered">
	  		<h1>About the City Cam Repo</h1>
	  		<p>Dipshit with a nine-toed woman. Dolor sit amet, consectetur adipiscing elit praesent ac magna. You don’t go out and make a living dressed like that in the middle of a weekday. Justo pellentesque ac lectus quis. Yeah. Roadie for Metallica. Speed of Sound Tour.</p>
	  		
	  		<p>Elit blandit fringilla a ut turpis praesent felis. Keep your ugly fucking goldbricking ass out of my beach community! Ligula, malesuada suscipit malesuada non, ultrices non urna sed orci ipsum, placerat id.</p>
	  	</div><!-- End content -->
		</div> <!-- End twelve columns centered -->
  </div> <!-- End row -->
  
<!-- Ends about -->
