<!-- Starts layout -->

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>City Cam Repo</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

	<div class="container">

		<!-- Logo -->
		<div class="row">
	 		<div class="offset-by-four centered logo">
	 			<h1><a href="/">City Cam Repo</a></h1>
	 		</div>
		</div>

		<!-- Navigation -->
		<div class="row">
		  <nav class="offset-by-four centered">
		  	<ul>
		  		<li><a class="button button-primary" href="/about">About</a></li>
		  		<li><a class="button button-primary" href="/submit">Submit</a></li>
		  	</ul>
		  </nav>
		</div>

<!-- Ends layout include -->

	<%= yield %>
	
	<footer id="footer" class="centered">			
		<p class="copyright">Made by <a href="https://twitter.com/thekieran" target="_blank">@thekieran</a></p>				
	</footer> <!-- end footer -->
		</div> <!-- End container -->
	</body>
</html>
