<!-- Starts submit -->

  <div class="row">
		<form action="https://formspree.io/citycamrepo@gmail.com" method="POST">
			<div class="row">
				<div class="six columns">
				  <label for="linkName">Link Name</label>
				  <input class="u-full-width" placeholder="City/Location/Country" id="linkName" type="text" name="linkName"">
				</div>
				<div class="six columns">
				  <label for="linkUrl">Cam website URL</label>
				  <input class="u-full-width" placeholder="https://www.camurl.com" id="linkUrl" type="url" name="linkUrl">
				</div>
			</div>
			<div class="row">
				<div class="six columns">
				  <label for="submitterName">Your Name</label>
				  <input class="u-full-width" placeholder="Your name here" id="submitterName" type="text" name="submitterName">
				</div>
				<div class="six columns">
				  <label for="submitterLink">Your Link (optional)</label>
				  <input class="u-full-width" placeholder="https://www.twitter.com/thekieran" id="submitterLink" type="url" name="submitterLink">
				</div>
			</div>
			<input class="button-primary u-pull-right" value="Submit" type="submit">
		</form>
  </div> <!-- End row -->

<!-- Ends submit -->
